<div class="jumbotron">
  <h1>The Greatest Movie Hub</h1>
  <p class="lead">
    <img src="images/36.jpg"alt="I'm Yeoman"><br>
    Welcome to trending movie site.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row col-md-12 center block">   
  <table border="5"width="100%">
    <label for="movies">Condensed List of Current Movies</label>
      <tr ng-repeat="x in movies">
        <th>{{x.title}}</th>
        <td> <a class="btn btn-primary" ng-href="#viewMovie/{{x._id}}">View Full Movie</a></td>
        <td> <a class="btn btn-danger">Delete Movie</a></td
      </tr>
  
  </table>
</div>
